<nav class="navbar navbar-expand-lg navbar-header bg-light" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/bazar-logo.svg}" alt="pazar-logo"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarColor03">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/adverts/home}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/users/login}">Login</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/users/register}">Register</a>
            </li>

            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/users/logout}">Logout</a>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN','ROOT')" class="nav-item">
                <a class="nav-link" th:href="@{/admin/panel}">Admin Panel</a>
            </li>
            <li class="mr-3" sec:authorize="isAuthenticated()">
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/users/profile}">Profile</a>
                        <a class="dropdown-item" th:href="@{/adverts/mine}">My adverts</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning" th:href="@{/adverts/new}">+Add advert</a>
            </li>
        </ul>
    </div>
</nav>
