<!DOCTYPE html>
<head>
    <title>Login</title>
</head>
<body xmlns:th="http://www.thymeleaf.org">
<div class="jumbotron">
    <div class="mt-3">
        <hr class="w-25"/>
        <h1 class="text-center">Change Role Confirm</h1>
        <hr class="w-25"/>
        <form class="mx-auto w-25" method="post" th:action="@{/admin/change-user-role-confirm}">
            <fieldset>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input th:value="${username}" type="text" class="form-control" id="username" aria-describedby="emailHelp"
                           placeholder="Username..." name="username">
                </div>
                <label for="roles">Roles</label>
                <select multiple="" class="form-control" id="roles" name="roles">
                    <option>ROLE_ADMIN</option>
                    <option>ROLE_MODERATOR</option>
                    <option>ROLE_USER</option>
                </select>
                <hr class="w-100 hr-2"/>
                <div class="button-holder mt-4 d-flex justify-content-center">
                    <input type="submit" class="btn btn-primary" value="Login"/>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>