<!DOCTYPE html>
<head>
    <title>Change password</title>
    <script type="text/javascript" src="/js/ajax/change-password-check-form.js"></script>
</head>
<body xmlns:th="http://www.thymeleaf.org">
<div class="mt-3">
    <hr class="w-25"/>
    <h1 class="text-center">Change password</h1>
    <hr class="w-25"/>
    <form id="user-form" class="mx-auto w-25" method="post" th:action="@{/users/change-password}" th:object="${changePassword}">
        <fieldset>
            <div class="form-group">
                <label for="old-password">Old password</label>
                <input type="password" class="form-control" id="old-password"
                       placeholder="Old password..." name="password" th:value="*{password}"
                       th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}">
                <small class="form-text text-danger" th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">
                </small>
                <small class="form-text text-danger" id="old-password-error"></small>
            </div>
            <div class="form-group">
                <label for="new-password">New password</label>
                <input type="password" class="form-control" id="new-password" placeholder="Password..."
                       name="newPassword" th:value="*{newPassword}"
                       th:classappend="${#fields.hasErrors('newPassword') ? 'is-invalid' : ''}">
                <small class="form-text text-danger" th:each="error : ${#fields.errors('newPassword')}"
                       th:text="${error}">
                </small>
                <small class="form-text text-danger" id="new-password-error"></small>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm password</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password..."
                       name="confirmPassword" th:value="*{confirmPassword}"
                       th:classappend="${#fields.hasErrors('confirmPassword') ? 'is-invalid' : ''}">
                <small class="form-text text-danger" th:each="error : ${#fields.errors('confirmPassword')}"
                       th:text="${error}">
                </small>
                <small class="form-text text-danger" id="confirm-password-error"></small>
            </div>
            <div class="text-center">
                <small class="form-text text-danger" id="passwords-do-not-match"></small>
            </div>
            <small class="form-text text-danger" th:text="${invalidUserForm}">
            </small>
            <hr class="w-100 hr-2"/>
            <div class="button-holder mt-4 d-flex justify-content-center">

                <div>
                    <input type="submit" class="btn btn-danger" value="Change password"/>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>