<head>
    <title>Profile</title>
    <script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>
</head>
<div class="container emp-profile" xmlns:th="http://www.thymeleaf.org" th:object="${user}">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img th:if="*{profilePictureName == null}" th:src="@{/images/default_image.jpg}" alt=""/>
                <img th:unless="*{profilePictureName == null}" th:src="@{|/content/${user.profilePictureName}|}"
                     alt=""/>
            </div>

        </div>

        <div class="col-md-6">
            <div class="profile-head">
                <h5 th:text="*{username}">
                </h5>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">Timeline</a>
                    </li>
                    <li th:if="${#authentication.getPrincipal().getUsername() == user.username}" class="nav-item">
                        <a class="nav-link" id="sent-messages-tab" data-toggle="tab" href="#sent-messages" role="tab"
                           aria-controls="profile" aria-selected="false">Sent</a>
                    </li>
                    <li th:if="${#authentication.getPrincipal().getUsername() == user.username}" class="nav-item">
                        <a class="nav-link" id="received-messages-tab" data-toggle="tab" href="#received-messages"
                           role="tab"
                           aria-controls="profile" aria-selected="false">Received</a>
                    </li>
                    <li th:if="${#authentication.getPrincipal().getUsername() == user.username}" class="nav-item">
                        <a class="nav-link" id="options-profile-table" data-toggle="tab" href="#options" role="tab"
                           aria-controls="profile" aria-selected="false">Options</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <p>WORK LINK</p>
                <a th:if="*{websiteAddress != null}" th:href="*{websiteAddress}" href="">Website Link</a><br/>
            </div>
        </div>

        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>User Id</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="*{id}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="*{firstName + ' ' + lastName}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="*{email}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="*{phoneNumber}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Region</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="*{region.name}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Town</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="*{town.name}"></p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Total advertisements</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="*{advertisements.size()}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Total Reviews</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="*{reviews.size()}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Your Bio</label><br/>
                            <p th:if="*{description == ''}" th:text="'No description presented'"></p>
                            <p th:unless="*{description == ''}" th:text="*{description}"></p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="sent-messages" role="tabpanel" aria-labelledby="profile-tab">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Advertisement</th>
                            <th scope="col">Title</th>
                            <th scope="col">Date</th>
                            <th scope="col">Receiver</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sentMessage : ${user.sentMessages}">
                            <td th:text="${sentMessage.advertisement.title}"></td>
                            <td th:text="${sentMessage.content}"></td>
                            <td th:text="${#strings.arraySplit(sentMessage.addedOn, 'T')[0]}"></td>
                            <td th:text="${sentMessage.receiver}"></td>
                            <td>
                                <form th:method="post" th:action="@{/messages/delete}">
                                    <input name="messageId" type="hidden" th:value="${sentMessage.id}"/>
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="received-messages" role="tabpanel" aria-labelledby="profile-tab">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Advertisement</th>
                            <th scope="col">Title</th>
                            <th scope="col">Date</th>
                            <th scope="col">Sender</th>
                            <th scope="col">Reply</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="receivedMessage : ${user.receivedMessages}">
                            <td th:text="${receivedMessage.advertisement.title}"></td>
                            <td th:text="${receivedMessage.content}"></td>
                            <td th:text="${#strings.arraySplit(receivedMessage.addedOn, 'T')[0]}"></td>
                            <td th:text="${receivedMessage.sender}"></td>
                            <td>
                                <a class="btn btn-primary"
                                   th:href="@{/messages/reply(messageId=${receivedMessage.id},sender=${receivedMessage.sender})}">View/Reply</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="options" role="tabpanel" aria-labelledby="profile-tab">
                    <div th:class="row" th:if="${#authentication.getPrincipal().getUsername() == user.username}"
                         class="col-md-4">
                        <a th:href="@{/users/edit}" class="btn btn-warning mr-5 ml-5">Edit profile</a>
                        <a th:href="@{/users/change-password}" class="btn btn-warning mr-5 ml-5">Change password</a>
                        <a th:href="@{/users/delete}" class="btn btn-danger mr-5 ml-5">Delete profile</a>
                    </div>
                    <form class="form-group mt-3" th:action="@{/users/edit/picture}" method="post"
                          enctype="multipart/form-data">
                        <div th:if="${#authentication.getPrincipal().getUsername() == user.username}"
                             class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile02" name="picture">
                                <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <input type="submit" value="Upload" class="btn btn-success"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>