<!DOCTYPE html>
<head>
    <title>Register</title>
    <script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/ajax/user-register.js"></script>
</head>
<body xmlns:th="http://www.thymeleaf.org">
<div class="jumbotron">

    <div class="mt-3">
        <hr class="w-25"/>
        <h1 class="text-center">Register</h1>
        <hr class="w-25"/>
        <form class="mx-auto w-25" method="post" th:action="@{/users/register}">
            <fieldset>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                           placeholder="Enter email..." name="email" th:value="${invalidUserForm.email}">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username..." name="username"
                           th:value="${invalidUserForm.username}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password..." name="password">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password..."
                           name="confirmPassword">
                </div>
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First name..." name="firstName"
                           th:value="${invalidUserForm.firstName}">
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last name..." name="lastName"
                           th:value="${invalidUserForm.lastName}">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone number</label>
                    <input type="text" class="form-control" id="phoneNumber" placeholder="Phone number..."
                           name="phoneNumber" th:value="${invalidUserForm.phoneNumber}">
                </div>
                <div class="form-group">
                    <label for="websiteAddress">Website address</label>
                    <input type="text" class="form-control" id="websiteAddress"
                           placeholder="Website address (optional)..."
                           name="websiteAddress" th:value="${invalidUserForm.websiteAddress}">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">Short description</label>
                    <textarea class="form-control" placeholder="Enter short description (optional)..."
                              id="exampleTextarea"
                              rows="3" name="description" th:text="${invalidUserForm.description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="regions">Select a region</label>
                    <select class="form-control" id="regions" name="region">
                        <option th:if="${invalidUserForm.region != null}" th:text="${invalidUserForm.region}"></option>
                        <option th:if="${invalidUserForm.region == null}" disabled="disabled" selected="selected">Region
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="towns">Select a town</label>
                    <select class="form-control" id="towns" name="town">
                        <option th:if="${invalidUserForm.town != null}" th:text="${invalidUserForm.town}"></option>
                        <option th:if="${invalidUserForm.town == null}" disabled="disabled" selected="selected">Town
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="profilePicture">Profile Picture</label>
                    <input type="file" class="form-control-file" id="profilePicture" aria-describedby="fileHelp"
                           name="profilePicture">
                    <small id="fileHelp" class="form-text text-muted">Your avatar</small>
                </div>
                <div th:each="error : ${errors}">
                    <h6 style="color: red" th:text="'Enter a valid ' + ${error.fieldName}"></h6>
                </div>
                <div th:if="${errorMessage != null}">
                    <h6 style="color: red" th:text="${errorMessage}"></h6>
                </div>
                <hr class="w-100 hr-2"/>
                <div class="button-holder mt-4 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>