<head>
    <script type="text/javascript" src="/js/ajax/category.js"></script>
    <script type="text/javascript" src="/js/ajax/index-page.js"></script>
    <script type="text/javascript" src="/js/ajax/review.js"></script>
</head>
<div class="container" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org"
     th:object="${advert}">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">Bazar BG</h1>
            <div class="list-group" id="category-list">
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card mt-4">

                <div th:each="p :*{pictures}">
                    <div class="carousel-item active mt-3">
                        <img class="card-img-top img-fluid" th:src="@{|/content/${p}|}"
                             alt="Other slide">
                    </div>
                </div>
                <div th:if="${advert.video != null}">
                    <div class="embed-responsive embed-responsive-16by9 mt-3">
                        <video controls class="embed-responsive-item" th:src="@{|/content/${advert.video}|}"></video>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title" th:text="*{title}"></h3>
                    <h4 th:text="${#numbers.formatCurrency(advert.price)}"></h4>
                    <p class="card-text" th:text="*{title}"></p>
                </div>
            </div>
            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Product Reviews
                </div>
                <div id="reviews" class="card-body">

                </div>
                <a sec:authorize="isAuthenticated()" th:href="@{/reviews/add(advertId=${advert.id})}"
                   class="btn btn-success">Leave a Review</a>

                <a id="add-car-modal-button" class="btn btn-danger" href="#" data-toggle="modal" data-target="#add-review-modal">Add
                    Car</a>
                <th:block th:replace="fragments/modal/review/add-review-modal"></th:block>
            </div>
        </div>
    </div>
</div>
